<div>
<label class="searchName">Search by Category</label>
<select>
	<option ng-repeat="teaCategory in final track by $index ">{{teaCategory}}</option>
</select> 

<label class="searchName">Search by name:</label>
<input ng-model="searchText">

<input type="submit" class="btn btn-danger" value="Checkout |">


<table class=" table table-hover table-bordered">
  <tr>
    <th scope="col">Tea</th>
    <th scope="col">Information
	    <label class="priceLabel">Sort by Price: </label>
		<select class="pricer">
			<option>Highest</option>
			<option>Lowest</option>
		</select> 
    </th>
  </tr>

  <tr ng-repeat="tea in teas track by $index">
  	 <td class ="imgData"><img src="{{tea.imageUrl}}"></td>
  	 <td class ="teaData">
	  	<h4>{{tea.name}}</h4> 

  	  	<label class="quantityLabel">Quantity</label>
  	  	<select class="amt">
  	  		<option></option>
  	  		<option>1</option>
  	  		<option>2</option>
  	  		<option>3</option>
  	  		<option>4</option>
  	  		<option>5</option>
  	  		<option>6</option>
  	  		<option>7</option>
  	  		<option>8</option>
  	  		<option>9</option>
  	  		<option>10</option>
  	  	</select> 

  	  	<button class='btn btn-warning'>Add to Bag</button>
  	  
  	  	<div class="teaItem">
  	  		<label>Price:</label> <p class="data">{{tea.price}} </p>
  	  	</div>
  	  	<div class="teaItem">
	  		<label>Caffine Scale:</label><p class="data">{{tea.caffeineScale}}</p>
	  	</div>
	  	<div class="teaItem">
	  		<label>Ingredients:</label><p class="data">{{tea.ingredients}}</p>
	  	</div>
	  	<div class="teaItem">
	  		<label>Rating:</label><p class="data">{{tea.rating}}</p> 
	  	</div>
	  	<div class="teaItem">
	  		<label>In Stock:</label> <p class="data">{{tea.inStock}}</p>
	  	</div>
		<div class="teaItem">
	  	  	<label >Categories:</label>
	  	  	<ul ng-repeat = "category in categories">
	  	  		<li>{{category}}</li>	
	  	  	</ul>
  	  	</div>

  	 </td>
  </tr>
 
</table>



</div>