<div>
<label class="searchName">Search by Category</label>
<select ng-model="category">
	<option></option>
	<option ng-repeat="teaCategory in final track by $index " value="{{teaCategory}}">{{teaCategory}}</option>
</select> 

<label class="searchName">Search by name:</label>
<input ng-model="searchText">

<button class="pull-right btn btn-danger" ng-click="displayCart()">
   <strong>Checkout</strong> |
   Bag: <span ng-if="cart.length > 0">({{cart.length}})</span>
   <span ng-if="cart.length === 0">Empty!</span>
 </button>

<table class=" table table-hover table-bordered">
  <tr>
    <th scope="col">Tea</th>
    <th scope="col">Information
	    <label class="priceLabel">Sort by Price: </label>
		<select ng-model="sortByPrice" class="pricer">
			<option value='-price'>Highest</option>
			<option value='price'>Lowest</option>
		</select> 
    </th>
  </tr>

  <tr ng-repeat="tea in teas | orderBy: sortByPrice | filter: searchText | filter: category">
  	 <td class ="imgData"><img ng-src="{{tea.imageUrl}}"></td>
  	 <td class ="teaData">
	  	<h4>{{tea.name}}</h4> 

  	  	<label class="quantityLabel">Quantity</label>
  	  	<select ng-model="tea.quantity" class="amt">
  	  		<option value="1">1</option>
  	  		<option value="2">2</option>
  	  		<option value="3">3</option>
  	  		<option value="4">4</option>
  	  		<option value="5">5</option>
  	  		<option value="6">6</option>
  	  		<option value="7">7</option>
  	  		<option value="8">8</option>
  	  		<option value="9">9</option>
  	  		<option value="10">10</option>
  	  	</select> 

  	  	<mt-bag cart="cart" tea="tea"></mt-bag>
  	  
  	  	<div class="teaItem">
  	  		<label>Price:</label> <p class="data">{{tea.price/100 | currency}} </p>
  	  	</div>
  	  	<div class="teaItem">
	  		<label>Caffine Scale:</label><p class="data">{{tea.caffeineScale}}</p>
	  	</div>
	  	<div class="teaItem">
	  		<label>Ingredients:</label><p class="data">{{tea.ingredients}}</p>
	  	</div>
	  	<div class="teaItem">
	  		<label>Rating:</label><p class="data">{{tea.rating}}</p> 
	  	</div>
	  	<div class="teaItem">
	  		<label>In Stock:</label> <p class="data">{{tea.inStock}}</p>
	  	</div>
		<div class="teaItem">
	  	  	<label >Categories:</label>
	  	  	<ul ng-repeat = "category in tea.categories">
	  	  		<li>{{category}}</li>	
	  	  	</ul>
  	  	</div>

  	 </td>
  </tr>
 
</table>



</div>