<div>
 <!-- Modal -->
  <div class="modal show" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" ng-model="off" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Welcome to Redditer</h4>
          <h6 class="modal-title" id="myModalLabel2">Please enter your information below</h6>
        </div>
	<form id="signupForm" action="/new" method="POST">

  	     <div class="modal-body">
  	     <div class="form-group has-error">
                  <label for="inputError1">Username</label>
                  <input id="inputError1" class="form-control" type="text" name="username" placeholder="Name" required>

                  <label for="inputError2">Password</label>
                  <input  id="inputError2" class="form-control" type="password" name="password" placeholder="Password"  required>

                  <label for="inputError3"l>Password Confirmation</label>
                  <input  id="inputError3" class="form-control" type="password" name="pwConfirm" placeholder="Password confirm" required>  
                  <p id="emailCopyErrMsg">User already exists/passwords do not match</p>
            </div>   
   
            </div>
      	<div class="modal-footer">
      	      <button  ng-model="off" type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
      	      <input id="signUpSubmitBtn" class="btn btn-primary" type="submit" value="Submit">
      	</div>

	</form> 
      </div>
    </div>
  </div>
  </div>

   