<div class ="text-center">
	<h1>Angular OMDb API Search</h1>
	<label>Enter a movie by Title:</label>
	<form ng-submit = "callMovieApi(movie.title)" >
		<input ng-model ="movie.title"  type="text" class="col-xs-4" required>
		<input type="submit" class='btn btn-md btn-primary'>
	</form>
</div>

<div class="col-xs-12" ng-repeat="movie in movie">
	<img src="{{movie.Poster}}">
	<h2>{{movie.Title}}</h2>
	<p>{{movie.Actors}}</p>
	<p>{{movie.Awards}}</p>
	<p>{{movie.Director}}</p>
	<p>{{movie.Genre}}</p>
	<p>{{movie.Year}}</p>
	
</div>