.col-xs-12{
	background-color: orange;
	color: white;
	text-align: center;
}

h1{
	color: orange;
}

.pricer{
	float: right;
}

label{
	display: block;
}

.btn{
	float:  right;
}

.quantityLabel{
	display: inline;
	margin-left: 65%;
}

.amt{
	display: inline;
}