<!DOCTYPE html>
<html>
<head>
	<title>Redditer</title>
</head>
<body  ng-app='myApp'>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Redditer</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li role="presentation" class="dropdown">
          <a href="#"  ng-click="hideStuff()">Post <span class="glyphicon glyphicon-plus"></span></a>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div ng-controller="firstController">
	<form name="postForm" ng-submit="postSubmit(postForm)"> 
	 	<div class="form-group">
	 	    	    <label for="Title">Title</label>
			    <input type="text" ng-model="newPostData.title" name="title" class="form-control" id="name" placeholder="Name">	

			    <label for="email">Author</label>
			    <input type="text" ng-model="newPostData.author" name="author" class="form-control" id="author" placeholder="Author">		 

			    <label for="image">Image</label>
			    <input type="text" ng-model="newPostData.image" name="image" class="form-control" id="image" placeholder="http://url.com">	

			    <label for="comment">Comment</label>
			    <input type="comment" ng-model="newPostData.comment" name="comment"  class="form-control" id="comment" placeholder="comments">
	 	</div>
	 	<input type="submit" class="btn btn-success"  value="POST">
	</form>


	<div class="container" ng-if="show" ng-repeat = "post in posts | filter:searchText">
		<div class="row">
			<img class = "col-md-2" src="{{post.image}}">
			<h3 class="">{{post.title}}</h3>
			<h6 class="text-right">by {{post.author}}</h6>
			<p class="">{{post.comment}}</p>
			
		</div>
	</div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
<script type="text/javascript">
	angular.module('myApp', ['ngAnimate']).controller('firstController',function($scope){

		$scope.posts = []; 
		$scope.newPostData = {};
		$scope.show = false; 	

		$scope.postSubmit = function(form){
			$scope.show = true;
			if (form.$valid) {
				$scope.posts.push({"title": $scope.newPostData.title, "author": $scope.newPostData.author, "image": $scope.newPostData.image, "comment": $scope.newPostData.comment});

			};
			$scope.newPostData = {};
		}
	});

</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style.css">
</body>
</html>