.container{
	background: grey;
	padding: 1%;
	margin-top: 1%; 
	border: 1px solid black;
	border-radius: 5px;
}

h3 {
	margin: 0px;
}

body > div > form > div {
	width: 80%;
	margin-left: 10%;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
}

.postTitle{
	float:left;
	margin-left: 5px;
}

.text-right{
	margin-right: 1%;
}

.postComment{
	float:left;
}

.ico {
	height: 100px;
	width: 100%;
}


.titleThumb{
	display:inline;
}

#thumbs-up, #thumbs-down{
	margin: .5%;
}

.comment {
	background-color: white;
	width: 80%;
	margin-left: 10%;
	border: 1px solid black;
	border-radius: 5px;
}
.newComment {
	text-align: center;
}
