.container{
	background: grey;
	padding: 1%;
	margin-top: 1%; 
}

h3 {
	margin: 0px;
}

body > div > form > div {
	width: 80%;
	margin-left: 10%;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
}

.postTitle{
	float:left;
	margin-left: 5px;
}

.text-right{
	margin-right: 1%;
}

.postComment{
	float:left;
}

<<<<<<< HEAD
.ico {
	height: 100px;
	width: 100px;
}

=======
>>>>>>> 05aad0fb911738736216a6d5e8beec8d258e2c01
.titleThumb{
	display:inline;
}

#thumbs-up, #thumbs-down{
	margin: .5%;
<<<<<<< HEAD
}
=======
}
>>>>>>> 05aad0fb911738736216a6d5e8beec8d258e2c01
